/* .testing {
  position: relative;
  width: 95vw;
  height: 100vh;
  margin: auto;
  border-radius: 1.5rem;
  overflow: hidden;
}

.testing::before {
  content: '';
  left: -10rem;
  position: absolute;
  width: 110vw;
  height: 110%;
  background: linear-gradient(rgb(220, 70, 131), rgb(192, 182, 69));
  animation: rotate 10s linear infinite;
}

.testing::after {
  content: '';
  position: absolute;
  background: #242424;
  inset: 1.5rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hello {
  position: absolute;
  top: 0;
  width: 95vw;
  height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  background: 
    linear-gradient(135deg, transparent 200px, #242424 0) top left,
    linear-gradient(-135deg, transparent 0px, #242424 0) top right,
    linear-gradient(45deg, transparent 1px, #242424 0) bottom left,
    linear-gradient(-45deg, transparent 200px, #242424 0) bottom right;
  background-size: 50% 55%;
  background-repeat: no-repeat;
} */

.navbar {
  width: 85vw;
  margin: auto;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: transform 300ms ease-in-out;
  background: transparent;
}
.logo:hover {
  filter: drop-shadow(0 0 0 #646cffaa);
  transform: scale(1.1);
}

.nav-item a {
  font-size: 2rem;
}

.nav-item:hover {
  transform: scale(1.1);
}

.row {
  gap: 2rem;
}

.container h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 2.5em;
  padding: 0 0 1.3rem 0.4rem;
}

.container ul {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.container aside {
  width: 90px;
  height: 90px;
  position: absolute;
  border-top-left-radius: 8px;
  background: linear-gradient(
    135deg,
    rgb(192, 182, 69) 0%,
    rgb(220, 70, 131) 50%,
    rgb(192, 182, 69) 100%
  );
  pointer-events: none;
}

.overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #242424;
  margin: 3px;
  border-top-left-radius: 8px;
  pointer-events: none;
}

.container ul li {
  list-style: none;
  width: 200px;
  z-index: 1;
}

.project-btn {
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Ibarra Real Nova", serif;
  border: none;
  border-bottom: 2px solid transparent;
  background: linear-gradient(to top, rgb(192, 182, 69) 0%, rgb(220, 70, 131) 5%, rgb(192, 182, 69) 10%, transparent 12%);
  transition: transform 300ms ease-in-out;
}

.project-btn:hover {
  transform: scale(1.1);
}

.hello {
  position: absolute;
  padding-top: 2rem;
  top: 0;
  width: 95vw;
  height: 100vh;
  background: 
    linear-gradient(135deg, transparent 200px, #242424 0) top left,
    linear-gradient(-135deg, transparent 0px, #242424 0) top right,
    linear-gradient(45deg, transparent 1px, #242424 0) bottom left,
    linear-gradient(-45deg, transparent 200px, #242424 0) bottom right;
  background-size: 50% 55%;
  background-repeat: no-repeat;
}

