.gradient1,
.gradient2,
.gradient3,
.gradient4 {
  position: relative;
  padding-top: 2rem;
  width: 95vw;
  height: 100vh;
  border-radius: 1rem;
  overflow: hidden;
}

.gradient1::before,
.gradient2::before,
.gradient3::before,
.gradient4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5rem solid transparent;
  pointer-events: none;
  transition: all 600ms;
}

.gradient1::before {
  border-image: linear-gradient(
    45deg,
    rgb(192, 182, 69) 0%,
    rgb(220, 70, 131) 50%,
    rgb(192, 182, 69) 100%
  );
  border-image-slice: 100;
  border-image-width: 1.2rem;
}

.gradient2::before {
  border-image: linear-gradient(
    45deg,
    rgb(190,112,197) 0%,
    rgb(53,181,52) 50%,
    rgb(190,112,197) 100%
  );
  border-image-slice: 100;
  border-image-width: 1.2rem;
}

.gradient3::before {
  border-image: linear-gradient(
    45deg,
    rgb(170,126,77) 0%,
    rgb(190,112,197) 50%,
    rgb(170,126,77) 100%
  );
  border-image-slice: 100;
  border-image-width: 1.2rem;
}

.gradient4::before {
  border-image: linear-gradient(
    45deg,
    rgb(68,76,175) 0%,
    rgb(77,207,69) 50%,
    rgb(68,76,175) 100%
  );
  border-image-slice: 100;
  border-image-width: 1.2rem;
}
