.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  background: transparent;
}
.logo:hover {
  filter: drop-shadow(0 0 0 #646cffaa);
  transform: scale(1.1);
}

.nav-item a {
  font-size: 2rem;
}

.nav-item:hover {
  transform: scale(1.1);
}

